$primary-color: #237CBE;
$secondary-color: #F0F0F0;

body {
	margin:0;
	padding:0;
}

#header {
	color:#F0F0F0;
	background-color:$primary-color;
	padding: 5px;
	border-bottom: 5px solid darken($primary-color, 25%);

	h1 {
	    text-align:center;
		text-transform:uppercase;
	}
}

footer {
	color:#fff;
	background-color:$primary-color;
	padding: 5px;
	border-top: 5px solid darken($primary-color, 25%);
}


aside {
    float: right;
	background-color:$secondary-color;
	width: 200px;
}


